@{
    Layout = "~/Views/Shared/stdGroup.cshtml";
}

<div class="container">

    <div class="row">

        <div class="panel panel-default" style="margin-left: 250px;width: 600px; background: #cac6c3"  id="feedback">


            <div class="panel-heading">
                <h3 style="text-align:center;color:maroon">Feedback Form</h3>
            </div>

            <div class="panel-body">

            </div>

        </div>

    </div>


</div>

