@{
    ViewBag.Title = "Login";
}
@model EAD_Project.Models.student 
@section loginPage
{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>

        $(document).ready(function () {

            $("#loginBtn1").click(function () {
                f2();
            });

        });

        function f2() {
           

            $("#info").show();
            $('#info').html("Invalid username or password");
           

        }
    </script>



}


<div style="margin-top:70px;">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="panel panel-default col-sm-6" style="margin-top: 40px;">

            <div class="panel-heading">
                <h3 style="text-align:center;">Please Login to continue</h3>
            </div>

            <div class="panel-body" style="padding-bottom:20px;">
                <form method="post" class="form-horizontal " action="/Home/Login">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" placeholder="Username" class="form-control" id="username" name="username" required/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" placeholder="Password" id="password" class="form-control" name="password"  required/>
                        @if (ViewBag.validUser != null && !ViewBag.validUser)
                        {
                             <p class="pull-right" role="alert" style="color:red" id="info">Invalid username or password</p> 
                        }
                       
                    </div>
                    <br />
                    <button type="submit" id="loginBtn" class="btn btn-primary col-sm-3">Login</button>
                    <br />
                    <div class="container pull-right">
                        <b>New to OneGroupOneCommunity?</b> @Html.ActionLink("Sign Up", "SignUpTeacher", "Home")

                    </div>

                </form>
            </div>

        </div>
    </div>
</div>