@{
    ViewBag.Title = "OneGroupOneCommunity";
}

<div style="background: blanchedalmond; opacity: .5; margin-top: 180px; width: 100%; height: 320px">

    <div class="container" style="align-content:center;">

        <table style="margin-left: 160px; margin-top: 30px; align-content: center;">

            <tr>

                <td style ="text-align:center"><h1 class="navbar-brand" style="font-family: SignawMedium; color: maroon; font-size: 300%; ">OneGroupOneCommunity</h1></tdstyle>
                <td style="text-align:center"><h1  style=" font-family: Century Gothic; color: maroon; font-size: 300%; ">for class groups</h1></td>
            </tr>
           
        </table>

        <table style="margin-left:80px; margin-top: 0px; align-content: center;">

            
            <tr>
                <td style="text-align:center"><h1 style=" font-family: Century Gothic; color: #131415; font-size: 200%; ">Announcements,Discussions related to all subjects at one platform</h1></td>
            </tr>
        </table>

        <table style="margin-left:370px; margin-top: 25px; align-content: center;">


            <tr>
               <td><button onclick="location.href='@Url.Action("Login","Home")'" class="btn btn-default" style="width: 170px; height: 45px; font-size:18px;color: antiquewhite ;  background:black; ">Login</button></td>
                <td><button onclick="location.href='@Url.Action("signUpTeacher","Home")'" class="btn btn-primary" style="width: 170px; height: 45px; font-size:18px;color: antiquewhite ;  background:black; ">SignUp</button></td>
            </tr>
        </table>
    </div>

  
   

</div>