@{
    Layout = "~/Views/Shared/stdGroup.cshtml";
}

<div class="container" style="margin-top:100px;">

     <div class="row " >

            <div class="col-sm-2">

            </div>

            <div class="col-sm-6">
                <button class="btn btn-danger">New Question</button>
                <button class="btn btn-default">Upload File</button>
                <button class="btn btn-default">Filters</button>

           
            
            </div>
  
            <div class="col-sm-4 pull-right">

                <button class="btn btn-primary" >Resources</button>
                <button class="btn btn-primary">Announcements</button>

            </div>
           
       </div>

 </div>
   


