<div style="margin-top:70px;">
    <div class="container">

        <div class="row">

            <div class="col-sm-1"></div>


            <div class="panel panel-default col-sm-10">

                <div class="panel-heading">
                    <h3 style="text-align:center;">Select Semester</h3>
                    <br />
                </div>

                <div class="panel-body" style="padding-bottom:20px;height:560px">
                    <div class="row">
                        <button type="button"  class="btn btn-primary" style="height:150px;width:25%;margin-left:100px"><p class="degree" style="font-size:72px">1st</p></button>
                        <button type="button" class="btn btn-primary" style="height: 150px; width: 25%; margin-left: 25px"><p class="degree" style="font-size:72px">2nd</p></button>
                        <button type="button" class="btn btn-primary" style="height: 150px; width: 25%; margin-left: 25px"><p class="degree" style="font-size:72px">3rd</p></button>
                    </div>
                    <div class="row" style="margin-top:20px">
                        <button type="button" class="btn btn-primary" style="height:150px;width:25%;margin-left:100px"><p class="degree" style="font-size:72px">4th</p></button>
                        <button type="button" class="btn btn-primary" style="height: 150px; width: 25%; margin-left: 25px"><p class="degree" style="font-size:72px">5th</p></button>
                        <button type="button" class="btn btn-primary" style="height: 150px; width: 25%; margin-left: 25px"><p class="degree" style="font-size:72px">6th</p></button>
                    </div>

                    <div class="row" style="margin-top:20px">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Subjects","Student")'" style="height:150px;width:25%;margin-left:250px"><p class="degree" style="font-size:72px">7th</p></button>
                        <button type="button" class="btn btn-primary" style="height: 150px; width: 25%; margin-left: 25px"><p class="degree" style="font-size:72px">8th</p></button>
                    
                    </div>
                </div>


            </div>

            <div class="col-sm-2"></div>

        </div>

    </div>
</div>
