<div style="margin-top:70px;">
    <div class="container">

        <div class="row">

            <div class="col-sm-1"></div>


            <div class="panel panel-default col-sm-10" style="margin-top: 70px;height:500px">

                <div class="panel-heading">
                    <h3 style="text-align:center;">Select Subject</h3>
                    <br />
                </div>

                <div class="panel-body" style="padding-bottom:20px;">
                    <div class="row">
                        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GroupHome","Student")'" style="height:150px;width:25%;margin-left:200px"><p class="degree" style="font-size:72px">EAD</p></button>
                        <button type="button" class="btn btn-primary" style="height: 150px; width: 25%; margin-left: 25px"><p class="degree" style="font-size:72px">CC</p></button>
                    </div>
                    <div class="row" style="margin-top:25px">
                        <button type="button" class="btn btn-primary" style="height: 150px; width: 25%; margin-left: 200px"><p class="degree" style="font-size:72px">MC</p></button>
                        <button type="button" class="btn btn-primary" style="height:150px;width:25%;margin-left:25px"><p class="degree" style="font-size:72px">CV</p></button>
                    </div>

   
                </div>


            </div>

            <div class="col-sm-2"></div>

        </div>

    </div>
</div>
